<!-- Section: Restaurants -->
<!-- <section>

  <div class="container looks">

    <h3>That was easy.</h3>
    Like eating pie, but with more data.<br><br>

    <form action="/download" method="get">
      <button type="submit" class="btn btn-primary">Download as CSV</button>
    </form><br>

    <table class="table table-striped table-looks">
      <thead>
        <tr>
          <th>Name</th>
          <th>URL</th>
          <th>Neighborhood</th>
          <th>Cuisine</th>
          <th># of Reviews</th>
          <th>Time Window</th>
        </tr>
      </thead>
      <tbody>
        <% for(var key in looks) { %>
          <tr>
            <td><%= looks[key]['name'] %></td>
            <td><a target="_blank" href="<%= looks[key]['url'] %>">Link</a></td>
            <td><%= looks[key]['neighborhood'] %></td>
            <td><%= looks[key]['cuisine'] %></td>
            <td><%= looks[key]['reviewCount'] %></td>
            <td><%= looks[key]['timeWindow'] %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    
  </div>

</section>
 -->