<!-- Section: Looks -->
<section>

  <div class="container looks">

    <h3>That was easy.</h3>
    Like eating pie, but with more data.<br><br>

    <form action="/download" method="get">
      <button type="submit" class="btn btn-primary">Download as CSV</button>
    </form><br>

    <table class="table table-striped table-looks">
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Country</th>
          <th>Lookbook URL</th>
          <th>Lookbook Profile Blog</th>
          <th>Lookbook Profile Site</th>
          <th>Instagram Name</th>
          <th>Instagram Followers</th>
          <th>Instagram Profile Website</th>
          <th>Instagram Profile Email</th>
        </tr>
      </thead>
      <tbody>
        <% for(var user in looks) { %>
          <tr>
            <td><%= looks[user]['name'] %></td>
            <td><%= looks[user]['location'] %></td>
            <td><%= looks[user]['country'] %></td>
            <td><%= looks[user]['lookbookUrl'] %></td>
            <td><%= looks[user]['lookbookBlog'] %></td>
            <td><%= looks[user]['lookbookSite'] %></td>
            <td><a target="_blank" href="<%= looks[user]['instagramUrl'] %>"><%= looks[user]['instagramName'] %></a></td>
            <td><%= looks[user]['instagramFollowers'] %></td>
            <td><%= looks[user]['website'] %></td>
            <td><%= looks[user]['email'] %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    
  </div>

</section>
